### Kirfan97 example code beginner parsing

In [7]:
import parse as pr
import pandas as pd

simple_log_data = [
    "INFO [2023-05-17 12:34:56.789] This is a simple log message",
    "ERROR [2023-05-18 01:23:45.678] An error occurred",
    "WARNING [2023-05-19 10:20:30.123] This is a warning message"
]

formatt="{type} [{date}] {message}" 

collection=[]
for line in simple_log_data:
    parsed=pr.parse(formatt,line).named
    collection.append(parsed)

pd.DataFrame(collection)

      type                     date                       message
0     INFO  2023-05-17 12:34:56.789  This is a simple log message
1    ERROR  2023-05-18 01:23:45.678             An error occurred
2  WARNING  2023-05-19 10:20:30.123     This is a warning message

In [67]:
%pwd

'c:\\Users\\afiqhusaini.rosdi\\OneDrive - PLUS MALAYSIA BERHAD\\Documents\\Working_Projects\\study_parse_log'

### Testing Parse n Pandas only

In [75]:
import parse 
import pandas as pd

In [76]:
log_format="{timestamp}  {duration} {type} {details}"

with open('LCS0001.LOG', 'r') as log_file:
    log_file_lines= log_file.readlines()

log_collection = []

for line in log_file_lines:
    parsed = parse.parse(log_format,line)
    log_collection.append(parsed.named)

In [77]:
df = pd.DataFrame(log_collection)
df

,timestamp,duration,type,details
0,2024-06-28T15:32:42.672,0.00000,TFI,< >< >< >\n
1,2024-06-28T15:32:42.680,8.07220,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
2,2024-06-28T15:32:42.726,45.15410,VDC,Bounded\n
3,2024-06-28T15:33:03.763,21.03695s,APR,Enlist [PUTRAJAYA5555 ][470M669NWA7R1X32 ...
4,2024-06-28T15:33:03.763,0.07810,REC,<QID 3B9ACA01><PSN F><PSG _><TRX S=SE V=INI E=...
5,2024-06-28T15:33:03.763,0.18260,VDC,"Select [1:1,0][470M669NWA7R1X32 ] 0 -> 0\n"
6,2024-06-28T15:33:03.763,0.00000,TFI,<1 >< >< >\n
7,2024-06-28T15:33:03.767,3.73560,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
8,2024-06-28T15:33:08.767,5.00071s,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
9,2024-06-28T15:33:26.251,17.48340s,RES,<QID 3B9ACA01><PSN F><PSG _><TRX S=OK V=EXM E=...
10,2024-06-28T15:33:26.254,3.18260,APR,Select [PUTRAJAYA5555 ][470M669NWA7R1X32 ...
11,2024-06-28T15:33:26.254,0.12820,TFI,<1 ><SELAMAT ><JALAN >\n
12,2024-06-28T15:33:26.259,5.48120,SEN,<LTL 1><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
13,2024-06-28T15:33:27.717,1.45763s,REM,<QID 3B9ACA01><PSN F><PSG _><TRX S=OK V=EXM E=...
14,2024-06-28T15:33:27.717,0.00000,TFI,< >< >< >\n
15,2024-06-28T15:33:27.719,1.65430,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
16,2024-06-28T15:33:37.401,9.68267s,REC,<QID 3B9ACA02><PSN F><PSG _><TRX S=SE V=INI E=...
17,2024-06-28T15:33:37.401,0.00000,TFI,<2 >< >< >\n
18,2024-06-28T15:33:37.410,8.39830,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
19,2024-06-28T15:33:38.642,1.23219s,RES,<QID 3B9ACA02><PSN F><PSG _><TRX S=OK V=EXM E=...
20,2024-06-28T15:33:38.642,0.00000,TFI,<2 ><SELAMAT ><JALAN >\n
21,2024-06-28T15:33:38.646,3.72120,SEN,<LTL 1><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
22,2024-06-28T15:33:40.247,1.60108s,REM,<QID 3B9ACA02><PSN F><PSG _><TRX S=OK V=EXM E=...
23,2024-06-28T15:33:40.247,0.00000,TFI,< >< >< >\n
24,2024-06-28T15:33:40.252,5.35940,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
25,2024-06-28T15:34:06.143,25.89064s,REC,<QID 3B9ACA03><PSN F><PSG _><TRX S=SE V=INI E=...
26,2024-06-28T15:34:06.143,0.00000,TFI,<3 >< >< >\n
27,2024-06-28T15:34:06.156,13.51320,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
28,2024-06-28T15:34:07.056 899.39230,APR,Enlist,[PUTRAJAYA5555 ][470M669NWA7R1X33 ] 0 -> 1\n
29,2024-06-28T15:34:07.056,0.05300,VDC,"Select [2:2,0][470M669NWA7R1X33 ] 0 -> 0\n"
30,2024-06-28T15:34:11.158,4.10230s,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
31,2024-06-28T15:34:12.292,1.13422s,RES,<QID 3B9ACA03><PSN F><PSG _><TRX S=OK V=EXM E=...
32,2024-06-28T15:34:12.293,0.88390,APR,Select [PUTRAJAYA5555 ][470M669NWA7R1X33 ...
33,2024-06-28T15:34:12.293,0.04050,TFI,<3 ><SELAMAT ><JALAN >\n
34,2024-06-28T15:34:12.296,2.67140,SEN,<LTL 1><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
35,2024-06-28T15:34:13.407,1.11115s,REM,<QID 3B9ACA03><PSN F><PSG _><TRX S=OK V=EXM E=...
36,2024-06-28T15:34:13.407,0.00000,TFI,< >< >< >\n
37,2024-06-28T15:34:13.409,1.66430,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...

### Testing using re n pandas

In [12]:
import pandas as pd
import parse
import re

In [79]:
# Define the log format with a regular expression
log_regex = re.compile(
    r'^(?P<timestamp>\S+)\s+(?P<duration>\S+)\s+(?P<type>\S+)\s+(?P<details>.+)$'
)

# Initialize a list to store parsed log entries
log_collection = []
log_file_path = 'LCS0001.LOG'

# Read the log file
with open(log_file_path, 'r') as log_file:
    log_file_lines = log_file.readlines()

# Process each log line
for line in log_file_lines:
    match = log_regex.match(line)
    if match:
        # If the line matches the regex, extract data into a dictionary
        log_data = match.groupdict()
        log_collection.append(log_data)
    else:
        print(f"Line does not match format: {line}")

# Convert to Pandas DataFrame
df = pd.DataFrame(log_collection)

# Show the DataFrame
df

,timestamp,duration,type,details
0,2024-06-28T15:32:42.672,0.00000,TFI,< >< >< >
1,2024-06-28T15:32:42.680,8.07220,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
2,2024-06-28T15:32:42.726,45.15410,VDC,Bounded
3,2024-06-28T15:33:03.763,21.03695s,APR,Enlist [PUTRAJAYA5555 ][470M669NWA7R1X32 ...
4,2024-06-28T15:33:03.763,0.07810,REC,<QID 3B9ACA01><PSN F><PSG _><TRX S=SE V=INI E=...
5,2024-06-28T15:33:03.763,0.18260,VDC,"Select [1:1,0][470M669NWA7R1X32 ] 0 -> 0"
6,2024-06-28T15:33:03.763,0.00000,TFI,<1 >< >< >
7,2024-06-28T15:33:03.767,3.73560,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
8,2024-06-28T15:33:08.767,5.00071s,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
9,2024-06-28T15:33:26.251,17.48340s,RES,<QID 3B9ACA01><PSN F><PSG _><TRX S=OK V=EXM E=...
10,2024-06-28T15:33:26.254,3.18260,APR,Select [PUTRAJAYA5555 ][470M669NWA7R1X32 ...
11,2024-06-28T15:33:26.254,0.12820,TFI,<1 ><SELAMAT ><JALAN >
12,2024-06-28T15:33:26.259,5.48120,SEN,<LTL 1><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
13,2024-06-28T15:33:27.717,1.45763s,REM,<QID 3B9ACA01><PSN F><PSG _><TRX S=OK V=EXM E=...
14,2024-06-28T15:33:27.717,0.00000,TFI,< >< >< >
15,2024-06-28T15:33:27.719,1.65430,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
16,2024-06-28T15:33:37.401,9.68267s,REC,<QID 3B9ACA02><PSN F><PSG _><TRX S=SE V=INI E=...
17,2024-06-28T15:33:37.401,0.00000,TFI,<2 >< >< >
18,2024-06-28T15:33:37.410,8.39830,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
19,2024-06-28T15:33:38.642,1.23219s,RES,<QID 3B9ACA02><PSN F><PSG _><TRX S=OK V=EXM E=...
20,2024-06-28T15:33:38.642,0.00000,TFI,<2 ><SELAMAT ><JALAN >
21,2024-06-28T15:33:38.646,3.72120,SEN,<LTL 1><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
22,2024-06-28T15:33:40.247,1.60108s,REM,<QID 3B9ACA02><PSN F><PSG _><TRX S=OK V=EXM E=...
23,2024-06-28T15:33:40.247,0.00000,TFI,< >< >< >
24,2024-06-28T15:33:40.252,5.35940,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
25,2024-06-28T15:34:06.143,25.89064s,REC,<QID 3B9ACA03><PSN F><PSG _><TRX S=SE V=INI E=...
26,2024-06-28T15:34:06.143,0.00000,TFI,<3 >< >< >
27,2024-06-28T15:34:06.156,13.51320,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
28,2024-06-28T15:34:07.056,899.39230,APR,Enlist [PUTRAJAYA5555 ][470M669NWA7R1X33 ...
29,2024-06-28T15:34:07.056,0.05300,VDC,"Select [2:2,0][470M669NWA7R1X33 ] 0 -> 0"
30,2024-06-28T15:34:11.158,4.10230s,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
31,2024-06-28T15:34:12.292,1.13422s,RES,<QID 3B9ACA03><PSN F><PSG _><TRX S=OK V=EXM E=...
32,2024-06-28T15:34:12.293,0.88390,APR,Select [PUTRAJAYA5555 ][470M669NWA7R1X33 ...
33,2024-06-28T15:34:12.293,0.04050,TFI,<3 ><SELAMAT ><JALAN >
34,2024-06-28T15:34:12.296,2.67140,SEN,<LTL 1><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...
35,2024-06-28T15:34:13.407,1.11115s,REM,<QID 3B9ACA03><PSN F><PSG _><TRX S=OK V=EXM E=...
36,2024-06-28T15:34:13.407,0.00000,TFI,< >< >< >
37,2024-06-28T15:34:13.409,1.66430,SEN,<LTL 0><ALB 0><OTL 0><MLB 0><PSN 0><PSG 0><FSW...

In [80]:
# Filter rows where the 'type' column is 'REC', 'RES', or 'REM'
df_filtered = df[df['type'].isin(['REC', 'RES', 'REM', 'APR'])]

# Sort the DataFrame by 'timestamp' (or any other column you prefer)
df_filtered_sorted = df_filtered.sort_values(by='timestamp')

# Display the resulting filtered and sorted DataFrame
df_filtered_sorted

,timestamp,duration,type,details
3,2024-06-28T15:33:03.763,21.03695s,APR,Enlist [PUTRAJAYA5555 ][470M669NWA7R1X32 ...
4,2024-06-28T15:33:03.763,0.07810,REC,<QID 3B9ACA01><PSN F><PSG _><TRX S=SE V=INI E=...
9,2024-06-28T15:33:26.251,17.48340s,RES,<QID 3B9ACA01><PSN F><PSG _><TRX S=OK V=EXM E=...
10,2024-06-28T15:33:26.254,3.18260,APR,Select [PUTRAJAYA5555 ][470M669NWA7R1X32 ...
13,2024-06-28T15:33:27.717,1.45763s,REM,<QID 3B9ACA01><PSN F><PSG _><TRX S=OK V=EXM E=...
16,2024-06-28T15:33:37.401,9.68267s,REC,<QID 3B9ACA02><PSN F><PSG _><TRX S=SE V=INI E=...
19,2024-06-28T15:33:38.642,1.23219s,RES,<QID 3B9ACA02><PSN F><PSG _><TRX S=OK V=EXM E=...
22,2024-06-28T15:33:40.247,1.60108s,REM,<QID 3B9ACA02><PSN F><PSG _><TRX S=OK V=EXM E=...
25,2024-06-28T15:34:06.143,25.89064s,REC,<QID 3B9ACA03><PSN F><PSG _><TRX S=SE V=INI E=...
28,2024-06-28T15:34:07.056,899.39230,APR,Enlist [PUTRAJAYA5555 ][470M669NWA7R1X33 ...
31,2024-06-28T15:34:12.292,1.13422s,RES,<QID 3B9ACA03><PSN F><PSG _><TRX S=OK V=EXM E=...
32,2024-06-28T15:34:12.293,0.88390,APR,Select [PUTRAJAYA5555 ][470M669NWA7R1X33 ...
35,2024-06-28T15:34:13.407,1.11115s,REM,<QID 3B9ACA03><PSN F><PSG _><TRX S=OK V=EXM E=...

In [81]:
df_filtered_sorted.columns

Index(['timestamp', 'duration', 'type', 'details'], dtype='object')

In [82]:
df_pivot = df_filtered_sorted.pivot_table(index='timestamp', columns='type', aggfunc='sum')
df_pivot

                                                                   details  \
type                                                                   APR
timestamp
2024-06-28T15:33:03.763  Enlist [PUTRAJAYA5555     ][470M669NWA7R1X32  ...
2024-06-28T15:33:26.251                                                NaN
2024-06-28T15:33:26.254  Select [PUTRAJAYA5555     ][470M669NWA7R1X32  ...
2024-06-28T15:33:27.717                                                NaN
2024-06-28T15:33:37.401                                                NaN
2024-06-28T15:33:38.642                                                NaN
2024-06-28T15:33:40.247                                                NaN
2024-06-28T15:34:06.143                                                NaN
2024-06-28T15:34:07.056  Enlist [PUTRAJAYA5555     ][470M669NWA7R1X33  ...
2024-06-28T15:34:12.292                                                NaN
2024-06-28T15:34:12.293  Select [PUTRAJAYA5555     ][470M669NWA7R1X33  ...
2024-06-28T15:34:13.407                                                NaN

                                                                            \
type                                                                   REC
timestamp
2024-06-28T15:33:03.763  <QID 3B9ACA01><PSN F><PSG _><TRX S=SE V=INI E=...
2024-06-28T15:33:26.251                                                NaN
2024-06-28T15:33:26.254                                                NaN
2024-06-28T15:33:27.717                                                NaN
2024-06-28T15:33:37.401  <QID 3B9ACA02><PSN F><PSG _><TRX S=SE V=INI E=...
2024-06-28T15:33:38.642                                                NaN
2024-06-28T15:33:40.247                                                NaN
2024-06-28T15:34:06.143  <QID 3B9ACA03><PSN F><PSG _><TRX S=SE V=INI E=...
2024-06-28T15:34:07.056                                                NaN
2024-06-28T15:34:12.292                                                NaN
2024-06-28T15:34:12.293                                                NaN
2024-06-28T15:34:13.407                                                NaN

                                                                            \
type                                                                   REM
timestamp
2024-06-28T15:33:03.763                                                NaN
2024-06-28T15:33:26.251                                                NaN
2024-06-28T15:33:26.254                                                NaN
2024-06-28T15:33:27.717  <QID 3B9ACA01><PSN F><PSG _><TRX S=OK V=EXM E=...
2024-06-28T15:33:37.401                                                NaN
2024-06-28T15:33:38.642                                                NaN
2024-06-28T15:33:40.247  <QID 3B9ACA02><PSN F><PSG _><TRX S=OK V=EXM E=...
2024-06-28T15:34:06.143                                                NaN
2024-06-28T15:34:07.056                                                NaN
2024-06-28T15:34:12.292                                                NaN
2024-06-28T15:34:12.293                                                NaN
2024-06-28T15:34:13.407  <QID 3B9ACA03><PSN F><PSG _><TRX S=OK V=EXM E=...

                                                                            \
type                                                                   RES
timestamp
2024-06-28T15:33:03.763                                                NaN
2024-06-28T15:33:26.251  <QID 3B9ACA01><PSN F><PSG _><TRX S=OK V=EXM E=...
2024-06-28T15:33:26.254                                                NaN
2024-06-28T15:33:27.717                                                NaN
2024-06-28T15:33:37.401                                                NaN
2024-06-28T15:33:38.642  <QID 3B9ACA02><PSN F><PSG _><TRX S=OK V=EXM E=...
2024-06-28T15:33:40.247                                                NaN
2024-06-28T15:34:06.143                                                NaN
2024-06-28T15:34:07.056                                                NaN
2024-06-28T15:34:12.292  <QID 3B9ACA03><PSN F><PSG _><TRX S=OK V=EXM E=...
2024-06-28T15:34:12.293                                                NaN
2024-06-28T15:34:13.407                                                NaN

                          duration
type                           APR        REC       REM        RES
timestamp
2024-06-28T15:33:03.763  21.03695s    0.07810       NaN        NaN
2024-06-28T15:33:26.251        NaN        NaN       NaN  17.48340s
2024-06-28T15:33:26.254    3.18260        NaN       NaN        NaN
2024-06-28T15:33:27.717        NaN        NaN  1.45763s        NaN
2024-06-28T15:33:37.401        NaN   9.68267s       NaN        NaN
2024-06-28T15:33:38.642        NaN        NaN       NaN   1.23219s
2024-06-28T15:33:40.247        NaN        NaN  1.60108s        NaN
2024-06-28T15:34:06.143        NaN  25.89064s       NaN        NaN
2024-06-28T15:34:07.056  899.39230        NaN       NaN        NaN
2024-06-28T15:34:12.292        NaN        NaN       NaN   1.13422s
2024-06-28T15:34:12.293    0.88390        NaN       NaN        NaN
2024-06-28T15:34:13.407        NaN        NaN  1.11115s        NaN

In [83]:
# Splitting the 'details' column by the '<>' pattern and expand into separate columns
df_details_split = df_filtered_sorted['details'].str.split(r'[<>]', expand=True)

# Display the resulting DataFrame with split 'details' columns
#df_combined = pd.concat([df, df_details_split], axis=1)
#df_combined

df_details_split

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
3,Enlist [PUTRAJAYA5555 ][470M669NWA7R1X32 ...,1,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,,QID 3B9ACA01,,PSN F,,PSG _,,TRX S=SE V=INI E=00,,TRM M66,...,PLZ O=470 D=470 F=470,,CLS O=1 D=1 F=1 A=0,,TFR F=0 G=0 V=0.00,,CID 0000000000,,AID 000000000000000000,
9,,QID 3B9ACA01,,PSN F,,PSG _,,TRX S=OK V=EXM E=00,,TRM M66,...,PLZ O=470 D=470 F=470,,CLS O=1 D=1 F=1 A=0,,TFR F=0 G=0 V=0.00,,CID 0000000000,,AID 000000000000000000,
10,Select [PUTRAJAYA5555 ][470M669NWA7R1X32 ...,0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13,,QID 3B9ACA01,,PSN F,,PSG _,,TRX S=OK V=EXM E=00,,TRM M66,...,PLZ O=470 D=470 F=470,,CLS O=1 D=1 F=1 A=0,,TFR F=0 G=0 V=0.00,,CID 0000000000,,AID 000000000000000000,
16,,QID 3B9ACA02,,PSN F,,PSG _,,TRX S=SE V=INI E=00,,TRM M66,...,PLZ O=470 D=470 F=470,,CLS O=2 D=2 F=2 A=0,,TFR F=0 G=0 V=0.00,,CID 0000000000,,AID 000000000000000000,
19,,QID 3B9ACA02,,PSN F,,PSG _,,TRX S=OK V=EXM E=00,,TRM M66,...,PLZ O=470 D=470 F=470,,CLS O=2 D=2 F=2 A=0,,TFR F=0 G=0 V=0.00,,CID 0000000000,,AID 000000000000000000,
22,,QID 3B9ACA02,,PSN F,,PSG _,,TRX S=OK V=EXM E=00,,TRM M66,...,PLZ O=470 D=470 F=470,,CLS O=2 D=2 F=2 A=0,,TFR F=0 G=0 V=0.00,,CID 0000000000,,AID 000000000000000000,
25,,QID 3B9ACA03,,PSN F,,PSG _,,TRX S=SE V=INI E=00,,TRM M66,...,PLZ O=470 D=470 F=470,,CLS O=3 D=3 F=3 A=0,,TFR F=0 G=0 V=0.00,,CID 0000000000,,AID 000000000000000000,
28,Enlist [PUTRAJAYA5555 ][470M669NWA7R1X33 ...,1,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
31,,QID 3B9ACA03,,PSN F,,PSG _,,TRX S=OK V=EXM E=00,,TRM M66,...,PLZ O=470 D=470 F=470,,CLS O=3 D=3 F=3 A=0,,TFR F=0 G=0 V=0.00,,CID 0000000000,,AID 000000000000000000,
32,Select [PUTRAJAYA5555 ][470M669NWA7R1X33 ...,0,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
35,,QID 3B9ACA03,,PSN F,,PSG _,,TRX S=OK V=EXM E=00,,TRM M66,...,PLZ O=470 D=470 F=470,,CLS O=3 D=3 F=3 A=0,,TFR F=0 G=0 V=0.00,,CID 0000000000,,AID 000000000000000000,

### TEST WITH NEW LOG

In [145]:
import pandas as pd
import re

In [146]:
with open('LCS0029.LOG', 'r') as log_file:
    load_log_file = log_file.readlines()

# '^' : This is an anchor that matches the start of a line, ensuring the pattern matches from the beginning of the string.
# \S+ : Matches one or more non-whitespace characters (any character except spaces, tabs, etc.). It assumes the timestamp doesn't contain any spaces.
# \s+ : Matches one or more whitespace characters (spaces, tabs, etc.). This separates the "timestamp" and "duration" fields.
# .+ : This matches one or more of any character (except newlines), meaning it will capture everything after the "type" until the end of the line, which typically includes additional details or messages related to the log entry.
# $ : This is the end-of-line anchor, ensuring the match goes all the way to the end of the string.
# For more information: https://www.w3schools.com/python/python_regex.asp
pattern = re.compile(
    r'^(?P<timestamp>\S+)\s+(?P<duration>\S+)\s+(?P<type>\S+)\s+(?P<details>.+)$'
)

log_data = []

for line in load_log_file:
    match = pattern.match(line)
    if match:
        log_read = match.groupdict()
        log_data.append(log_read)
    else:
        print("xde")
   
df = pd.DataFrame(log_data)
df

,timestamp,duration,type,details
0,2024-10-08T13:59:12.879,593.17010,RCU,TagDepart tid=0xE28011052000725E3F7509A4000000...
1,2024-10-08T13:59:12.994,115.01730,RES,<QID 3B9BF5FA><PSN F><PSG f><TYP 27><CID 0xE28...
2,2024-10-08T13:59:12.994,0.00000,TFI,< 000.00>< >< >
3,2024-10-08T13:59:13.004,9.95240,SEN,<LTL 1><ALB 1><OTL 1><MLB 1><RMP 0><ASB 0><VCD 0>
4,2024-10-08T13:59:13.006,1.99010,SEN,<LTL 0><ALB 1><OTL 1><MLB 1><RMP 0><ASB 0><VCD 0>
...,...,...,...,...
84967,2024-10-10T09:51:55.254,96.98450,RBO,QueryFetch TID=E200341201320100003F8E7A
84968,2024-10-10T09:51:55.274,20.13060,RES,<QID 3B9C0643><PSN f><PSG _><TYP 27><CID 0xE20...
84969,2024-10-10T09:51:55.274,0.00000,TFI,<1 002.62><TERIMA ><KASIH >
84970,2024-10-10T09:51:55.286,11.84740,SEN,<LTL 1><ALB 0><OTL 1><MLB 1><RMP 0><ASB 0><VCD 0>
84971,2024-10-10T09:51:55.321,34.85780,APR,Enlist [VAJ5028 ][316U060000SL4AIJ ...

In [147]:
df['type']=df['type'].str.strip() 
df['type'].unique()

array(['RCU', 'RES', 'TFI', 'SEN', 'REM', 'CTR', 'APR', 'REC', 'RBO',
       'TPV', 'RTG', 'SDP', 'IOT'], dtype=object)

In [148]:
# Filter rows where the 'type' column is 'REC', 'RES', or 'REM'
df_filtered = df[df['type'].isin(['REC', 'RES', 'REM', 'APR'])]

# Sort the DataFrame by 'timestamp' (or any other column you prefer)
#df_filtered_sorted = df_filtered.sort_values(by='timestamp')

# Display the resulting filtered and sorted DataFrame
df_filtered

,timestamp,duration,type,details
1,2024-10-08T13:59:12.994,115.01730,RES,<QID 3B9BF5FA><PSN F><PSG f><TYP 27><CID 0xE28...
5,2024-10-08T13:59:13.579,573.13600,REM,<QID 3B9BF5FA><PSN F><PSG F><TYP 27><CID 0xE28...
9,2024-10-08T13:59:48.906,34.77651s,APR,Enlist [RQ2260 ][316U060000SL0WNO ...
10,2024-10-08T13:59:49.741,835.16610,REC,<QID 3B9BF5FB><PSN f><PSG _><TYP 34><CID 00000...
14,2024-10-08T13:59:50.057,18.36490,RES,<QID 3B9BF5FB><PSN f><PSG _><TYP 27><CID 0xE28...
...,...,...,...,...
84956,2024-10-10T09:51:31.920,316.77890,RES,<QID 3B9C0642><PSN F><PSG f><TYP 27><CID 0xE28...
84960,2024-10-10T09:51:32.833,888.95990,REM,<QID 3B9C0642><PSN F><PSG F><TYP 27><CID 0xE28...
84965,2024-10-10T09:51:55.157,99.93640,REC,<QID 3B9C0643><PSN f><PSG _><TYP 34><CID 00000...
84968,2024-10-10T09:51:55.274,20.13060,RES,<QID 3B9C0643><PSN f><PSG _><TYP 27><CID 0xE20...
84971,2024-10-10T09:51:55.321,34.85780,APR,Enlist [VAJ5028 ][316U060000SL4AIJ ...

In [149]:
# Patterns to identify details for REC, RES, REM logs
#other_pattern = re.compile(r'<QID (?P<QID>.*?)><PSN (?P<PSN>.*?)><PSG (?P<PSG>.*?)>')
# Patterns to identify Enlist or Select for APR logs
#apr_pattern = re.compile(r'(?P<action>Enlist|Select) \[(?P<id>.*?)\]')

def expand(row):
    description = row['details']
    adjust_type = ID = filter_type = None

    if row['type'] == 'APR':
        # Regex for APR
        apr_match = re.search(r'(?P<adjust_type>Enlist|Select)\s*\[([^]]+)\]', description)

        if apr_match:
            adjust_type = f"{row['type']} {apr_match.group('adjust_type')}"
            ID = apr_match.group(2).strip()  # Extract the content inside the brackets
            filter_type = adjust_type

    else:
        # Regex for REC, RES, REM
        match = re.search(r'(?P<BaseID>\s+\w+)', description)
        type_id_match = re.search(r'(?P<type_id>\s+\d+)', description)
        
        if match and type_id_match:
            adjust_type = row['type']
            ID = match.group('BaseID')
            filter_type = f"{row['type']} {type_id_match.group('type_id')}"

    return pd.Series([adjust_type, ID, filter_type])

df_filtered[['adjust_type', 'ID', 'filter_type']] = df_filtered.apply(expand, axis=1)
df_filtered.drop_duplicates(['filter_type','ID'],keep='first',inplace=True,ignore_index=True)
df_filtered

C:\Users\afiqhusaini.rosdi\AppData\Local\Temp\ipykernel_32548\2028853772.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[['adjust_type', 'ID', 'filter_type']] = df_filtered.apply(expand, axis=1)
C:\Users\afiqhusaini.rosdi\AppData\Local\Temp\ipykernel_32548\2028853772.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[['adjust_type', 'ID', 'filter_type']] = df_filtered.apply(expand, axis=1)
C:\Users\afiqhusaini.rosdi\AppData\Local\Temp\ipykernel_32548\2028853772.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[['adjust_type', 'ID', 'filter_type']] = df_filtered.apply(expand, axis=1)
C:\Users\afiqhusaini.rosdi\AppData\Local\Temp\ipykernel_32548\2028853772.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.drop_duplicates(['filter_type','ID'],keep='first',inplace=True,ignore_index=True)

,timestamp,duration,type,details,adjust_type,ID,filter_type
0,2024-10-08T13:59:12.994,115.01730,RES,<QID 3B9BF5FA><PSN F><PSG f><TYP 27><CID 0xE28...,RES,3B9BF5FA,RES 3
1,2024-10-08T13:59:13.579,573.13600,REM,<QID 3B9BF5FA><PSN F><PSG F><TYP 27><CID 0xE28...,REM,3B9BF5FA,REM 3
2,2024-10-08T13:59:48.906,34.77651s,APR,Enlist [RQ2260 ][316U060000SL0WNO ...,APR Enlist,RQ2260,APR Enlist
3,2024-10-08T13:59:49.741,835.16610,REC,<QID 3B9BF5FB><PSN f><PSG _><TYP 34><CID 00000...,REC,3B9BF5FB,REC 3
4,2024-10-08T13:59:50.057,18.36490,RES,<QID 3B9BF5FB><PSN f><PSG _><TYP 27><CID 0xE28...,RES,3B9BF5FB,RES 3
...,...,...,...,...,...,...,...
19202,2024-10-10T09:51:29.077,20.08430,RES,<QID 3B9C0642><PSN f><PSG _><TYP 27><CID 0xE28...,RES,3B9C0642,RES 3
19203,2024-10-10T09:51:32.833,888.95990,REM,<QID 3B9C0642><PSN F><PSG F><TYP 27><CID 0xE28...,REM,3B9C0642,REM 3
19204,2024-10-10T09:51:55.157,99.93640,REC,<QID 3B9C0643><PSN f><PSG _><TYP 34><CID 00000...,REC,3B9C0643,REC 3
19205,2024-10-10T09:51:55.274,20.13060,RES,<QID 3B9C0643><PSN f><PSG _><TYP 27><CID 0xE20...,RES,3B9C0643,RES 3
19206,2024-10-10T09:51:55.321,34.85780,APR,Enlist [VAJ5028 ][316U060000SL4AIJ ...,APR Enlist,VAJ5028,APR Enlist

In [100]:
import re
import pandas as pd
def expand(row):
    if row['types'] == 'APR':
        parsed=pr.parse(formatt1,row['description']).named
        adjust_type=row['types']+" "+parsed['adjust_type']
        ID=parsed['APR_id']
        filter_type=adjust_type
    elif row['types'] == 'TFI':
        parsed=pr.parse(formatt3,row['description']).named
        adjust_type=parsed['adjust_type1']+" "+parsed['adjust_type2']
        ID=row['date']
        filter_type=ID+" "+adjust_type
    else:
        parsed=pr.parse(formatt2,row['description']).named
        adjust_type=row['types']
        ID=parsed['BaseID']
        filter_type=row['types']+" "+parsed['type_id']

    return pd.Series([adjust_type, ID,filter_type])
# Define regex for general log structure
log_pattern = re.compile(r'^(?P<timestamp>\S+)\s+(?P<duration>\S+)\s+(?P<type>\S+)\s+(?P<details>.+)$')

# Example log data as provided
log_data = [
    "2024-10-08T13:59:12.879 593.17010  RCU TagDepart tid=0xE28011052000725E3F7509A4000000000000000000000000 +ve={6,43,796.96150}, -ve={6,9,182.78120}, 1st={6,43,2.12510}, 2nd={1,1,18.41920}, 3rd={3,3,144.10670}, 4th={5,5,815.09170}",
    "2024-10-08T13:59:12.994 115.01730  RES <QID 3B9BF5FA><PSN F><PSG f><TYP 27><CID 0xE28011052000725E3F7509A4><AID 0xB0111000000000050306D926><TRX 00><BEF 00000     0.00><AFT 00000     0.00>",
    "2024-10-08T13:59:13.579 573.13600  REM <QID 3B9BF5FA><PSN F><PSG F><TYP 27><CID 0xE28011052000725E3F7509A4><AID 0xB0111000000000050306D926><TRX 00><BEF 00000     0.00><AFT 00000     0.00>",
    "2024-10-08T13:59:48.906  34.77651s APR Enlist [RQ2260            ][316U060000SL0WNO  ] 0 -> 1",
    "2024-10-08T13:59:49.741 835.16610  REC <QID 3B9BF5FB><PSN f><PSG _><TYP 34><CID 0000000000><AID 000000000000000000><TRX 00><BEF 00000     0.00><AFT 00000     0.00>",
    "2024-10-08T13:59:50.839 769.80810  RES <QID 3B9BF5FB><PSN F><PSG _><TYP 27><CID 0xE28011052000730CF9670ACE><AID 0xB01110000000000503339475><TRX 00><BEF 00000     0.00><AFT 00000     0.00>",
    "2024-10-08T13:59:53.874 650.41420  REM <QID 3B9BF5FB><PSN F><PSG F><TYP 27><CID 0xE28011052000730CF9670ACE><AID 0xB01110000000000503339475><TRX 00><BEF 00000     0.00><AFT 00000     0.00>",
    "2024-10-08T14:00:02.982   8.47826s REC <QID 3B9BF5FC><PSN f><PSG _><TYP 34><CID 0000000000><AID 000000000000000000><TRX 00><BEF 00000     0.00><AFT 00000     0.00>",
    "2024-10-08T14:00:03.060  77.73660  APR Enlist [QM428P            ][316U060000SL0WO2  ] 0 -> 1"
]

# List to store filtered log entries
log_entries = []

# Patterns to identify details for REC, RES, REM logs
qid_psn_psg_pattern = re.compile(r'<QID (?P<QID>.*?)><PSN (?P<PSN>.*?)><PSG (?P<PSG>.*?)>')
# Patterns to identify Enlist or Select for APR logs
apr_pattern = re.compile(r'(?P<action>Enlist|Select) \[(?P<id>.*?)\]')

# Loop through the log data and match patterns
for log in log_data:
    match = log_pattern.match(log)
    if match:
        log_type = match.group('type')
        details = match.group('details')
        
        # Initialize dictionary to hold log info
        log_info = match.groupdict()
        log_info['QID'] = None
        log_info['PSN'] = None
        log_info['PSG'] = None
        log_info['APR_Action'] = None
        log_info['APR_ID'] = None
        
        # Filter based on log type and details pattern
        if log_type in ['REC', 'RES', 'REM']:
            qid_match = qid_psn_psg_pattern.search(details)
            if qid_match:
                log_info.update(qid_match.groupdict())  # Add QID, PSN, PSG to log_info

        elif log_type == 'APR':
            apr_match = apr_pattern.search(details)
            if apr_match:
                log_info['APR_Action'] = apr_match.group('action')
                log_info['APR_ID'] = apr_match.group('id')

        # Append the filled log_info to entries
        log_entries.append(log_info)

# Convert list of dictionaries to DataFrame
df = pd.DataFrame(log_entries)

# Show DataFrame
df

,timestamp,duration,type,details,QID,PSN,PSG,APR_Action,APR_ID
0,2024-10-08T13:59:12.879,593.17010,RCU,TagDepart tid=0xE28011052000725E3F7509A4000000...,None,None,None,None,None
1,2024-10-08T13:59:12.994,115.01730,RES,<QID 3B9BF5FA><PSN F><PSG f><TYP 27><CID 0xE28...,3B9BF5FA,F,f,None,None
2,2024-10-08T13:59:13.579,573.13600,REM,<QID 3B9BF5FA><PSN F><PSG F><TYP 27><CID 0xE28...,3B9BF5FA,F,F,None,None
3,2024-10-08T13:59:48.906,34.77651s,APR,Enlist [RQ2260 ][316U060000SL0WNO ...,None,None,None,Enlist,RQ2260
4,2024-10-08T13:59:49.741,835.16610,REC,<QID 3B9BF5FB><PSN f><PSG _><TYP 34><CID 00000...,3B9BF5FB,f,_,None,None
5,2024-10-08T13:59:50.839,769.80810,RES,<QID 3B9BF5FB><PSN F><PSG _><TYP 27><CID 0xE28...,3B9BF5FB,F,_,None,None
6,2024-10-08T13:59:53.874,650.41420,REM,<QID 3B9BF5FB><PSN F><PSG F><TYP 27><CID 0xE28...,3B9BF5FB,F,F,None,None
7,2024-10-08T14:00:02.982,8.47826s,REC,<QID 3B9BF5FC><PSN f><PSG _><TYP 34><CID 00000...,3B9BF5FC,f,_,None,None
8,2024-10-08T14:00:03.060,77.73660,APR,Enlist [QM428P ][316U060000SL0WO2 ...,None,None,None,Enlist,QM428P

In [ ]:
"""
# Define the log format with a regular expression
log_regex = re.compile(
    r'^(?P<timestamp>\S+)\s+(?P<duration>\S+)\s+(?P<type>\S+)\s+(?P<details>.+)$'
)

# Initialize a list to store parsed log entries
log_collection = []
log_file_path = 'LCS0001.LOG'

# Read the log file
with open(log_file_path, 'r') as log_file:
    log_file_lines = log_file.readlines()

# Process each log line
for line in log_file_lines:
    match = log_regex.match(line)
    if match:
        # If the line matches the regex, extract data into a dictionary
        log_data = match.groupdict()
        log_collection.append(log_data)
    else:
        print(f"Line does not match format: {line}")

# Convert to Pandas DataFrame
df = pd.DataFrame(log_collection)

# Show the DataFrame
df
"""
pattern = r'(\S+)\s+(\S+)\s+(\S+)\s+(.*)'
collection=[]
for line in log_data_lcs:
    match = re.search(pattern, line)
    if match:
        parsed={
        'date' : match.group(1),         # Extract the date
        'value' : match.group(2),         # Extract the value
        'types' : match.group(3),    # Extract the type (could be any type)
        'description' : match.group(4) }
    else:
        print(line)
    collection.append(parsed)

df=pd.DataFrame(collection)
df['types']=df['types'].str.strip() 
df['types'].unique()

#collection